{% extends 'blog/base.html' %}

{% block content %}
<h1>About Metal Group</h1>
<p>Thanks for visiting Metal Group's blog!</p>
<p>Metal Group was formed in the old laboratory building of Willes Little Flower School in 1999. It was founded by a group of Metal-Lovers of Willes Little Flower School who were sick and tired of all the boy-bands and other musics which were popular among the young people of those days. That small group of Metal-Lovers realized that it was their duty to uphold the greatness of Metal songs and spread its madness to the other young people of the society.</p>
<p>Within a very short period of time, Metal Group became very popular among the students of the school. In fact they became a well-known group among the students of other schools of the city as well. As days passed by, the number of its members increased. This infamous Metal Group later pioneered many trends in the country which still continue to be followed by the young people of the country. The trends which were pioneered by Metal Group in this country include naming a group and writing the group's name in the walls with spray color.</p>
<p>The creators of this page want to dedicate this page to their beloved friend Late Jahirul Haque Rocky. May the Almighty keep him in the best of places.</p>

{% endblock %}
